// Common styles
@import "common";

// Desktop styles
@import "app_large";

/* global styles */
body {
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
	height: 100%;
	position: relative;
}

#cAB-mainContent {
	font-family: "Arial", sans-serif;
}


///* XSS prevention */
//html,
//body {
//	/* visibility: hidden; (can we omit this?) */
//	display: block;
//}

/* Make sure IE can show HTML5 tags */
section, header, footer, article {
	display: block;
}

body, html {
	height: 100%;
}
